# RC II

---
ECE4710J  2022SP

Materials collected by Sizhe Zhou. Credit to all the related online resources and the usage of this notebook is limited to education purpose. 

Mar. 24th, 2022

---

Note that below we will only give you a very, very shallow intro to only part of the SQL usage since it's not covered in our lecture and the requirement on you is just ``introduction''.

# 1. Python MySQL

To be able to experiment with the code examples in this tutorial, you should have MySQL installed on your computer.

You can download a free MySQL database at https://www.mysql.com/downloads/.


## 1.1 Get Started
For Windows system, you can try `net start servername` and `net stop servername` to start and stop the MySQL server respectively.
### 1.1.1 Install MySQL Driver

Python needs a MySQL driver to access the MySQL database.

In this tutorial we will use the driver "MySQL Connector".

We recommend that you use PIP to install "MySQL Connector".

PIP is most likely already installed in your Python environment.

Navigate your command line to the location of PIP, and type the following:

Download and install "MySQL Connector":

`C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>python -m pip install mysql-connector-python`

Now you have downloaded and installed a MySQL driver.

### 1.1.2 Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, try:

In [3]:
import mysql.connector

If the above code was executed with no errors, "MySQL Connector" is installed and ready to be used.

### 1.1.3 Create Connection

Start by creating a connection to the database.

Use the username and password from your MySQL database:

Now you can start querying the database using SQL statements.

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000249CAA091F0>

## 1.2 Creating a Database

### 1.2.1 Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase1")

If the above code was executed with no errors, you have successfully created a database.

### 1.2.2 Check if Database Exists

You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [8]:
# Return a list of your system's databases:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

Or you can try to access the database when making the connection:

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou",
  database="mydatabase"
)

If the database does not exist, you will get an error.

## 1.3 Creating a Table

### 1.3.1 Creating a Table

To create a table in MySQL, use the "CREATE TABLE" statement.

Make sure you define the name of the database when you create the connection

In [11]:
# Create a table named "customers":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou",
  database="mydatabase1"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

If the above code was executed with no errors, you have now successfully created a table.

### 1.3.2 Check if Table Exists

You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [12]:
# Return a list of your system's databases:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

### 1.3.3 Primary Key

When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [13]:
# Create primary key when creating the table:

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

If the table already exists, use the ALTER TABLE keyword:

In [14]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## 1.4 Insert Into Table

### 1.4.1 Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.

In [15]:
# Insert a record in the "customers" table:

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

### 1.4.2 Insert Multiple Rows

To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

In [24]:
# Fill the "customers" table with data:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### 1.4.3 Get Inserted ID

You can get the id of the row you just inserted by asking the cursor object.

Note: If you insert more than one row, the id of the last inserted row is returned.

In [17]:
# Insert one row, and return the ID:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

## 1.5 Select From

### 1.5.1 Select From a Table

To select from a table in MySQL, use the "SELECT" statement:

In [18]:
# Select all records from the "customers" table, and display the result:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

Note: We use the fetchall() method, which fetches all rows from the last executed statement.

### 1.5.2 Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [20]:
# Select only the name and address columns:

mydb = mysql.connector.connect(
  host="localhost",
  user="sizhezhou",
  password="sizhezhou",
  database="mydatabase"
)

mycursor = mydb.cursor(buffered=True)
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [21]:
myresult

[]

### 1.5.3 Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [19]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

## 1.6 Where
### 1.6.1 Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [22]:
# Select record(s) where the address is "Park Lane 38": result:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

### 1.6.2 Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters:

In [25]:
# Select records where the address contains the word "way":
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Susan', 'One way 98')
('Viola', 'Sideway 1633')

### 1.6.3 Prevent SQL Injection

When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values:

In [26]:
# scape query values by using the placholder %s method:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2')

## 1.7 Order By
### 1.7.1 Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [27]:
# Sort the result alphabetically by name: result:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652')
('Ben', 'Park Lane 38')
('Betty', 'Green Grass 1')
('Chuck', 'Main Road 989')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Peter', 'Lowstreet 4')
('Richard', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Viola', 'Sideway 1633')
('William', 'Central st 954')

### 1.7.2 ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [28]:
# Sort the result reverse alphabetically by name:
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954')
('Viola', 'Sideway 1633')
('Vicky', 'Yellow Garden 2')
('Susan', 'One way 98')
('Sandy', 'Ocean blvd 2')
('Richard', 'Sky st 331')
('Peter', 'Lowstreet 4')
('Michael', 'Valley 345')
('Hannah', 'Mountain 21')
('Chuck', 'Main Road 989')
('Betty', 'Green Grass 1')
('Ben', 'Park Lane 38')
('Amy', 'Apple st 652')

### 1.8 Delete From By
### 1.8.1 Delete Record

You can delete records from an existing table by using the "DELETE FROM" statement:

In [29]:
# Delete any record where the address is "Mountain 21":
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

### 1.8.2 Prevent SQL Injection

It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [30]:
# Escape values by using the placeholder %s method:
sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

## 1.9 Drop Table
### 1.9.1 Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

In [ ]:
# Delete the table "customers":
sql = "DROP TABLE customers"

mycursor.execute(sql)

### 1.9.2 Drop Only if Exist
If the the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [ ]:
sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

## 1.10 Update Table
### 1.10.1 Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [31]:
# Overwrite the address column from "Valley 345" to "Canyon 123":
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

Notice the WHERE clause in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. If you omit the WHERE clause, all records will be updated!

### 1.10.2 Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [32]:
sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

## 1.11 MySQL Limit
### 1.11.1 Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [33]:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')

### 1.11.2 Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [34]:
# Start from position 3, and return 5 records:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')

## 1.12 Join
### 1.12.1 Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

```
users
{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}

products
{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }
```


These two tables can be combined by using users' fav field and products' id field.

In [ ]:
# Join users and products to see the name of the users favorite product:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

You can use JOIN instead of INNER JOIN. They will both give you the same result.

### 1.12.2 LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [ ]:
# Select all users and their favorite product:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

### 1.12.3 RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:

In [ ]:
# Select all products, and the user(s) who have them as their favorite:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

## 1.13 Relation
### 1.13.1 What’s a Relation?

Relations have a long history. More formal treatments of relations use the term “tuple” to refer to the rows of a relation, and “attribute” to refer to the columns. There is also a rigorous way to define data operations using relational algebra, which is derived from mathematical set algebra. Interested data scientists can find a more in-depth treatment of relations in books on database systems such as the one by Garcia-Molina, Ullman, and Widom [Garcia-Molina et al., 2008].

### 1.13.2 Relations and Spreadsheets
Spreadsheets are computer applications where users can enter data in a grid and use formulas to perform calcuations. One famous example today is Microsoft Excel, although spreadsheets date back to at least 1979 with VisiCalc [Grad, 2007]. Spreadsheets make it easy to see and directly manipulate data. These properties make spreadsheets highly popular—by a 2005 estimate, there are over 55 million spreadsheet users compared to 3 million professional programmers in industry [Scaffidi et al., 2005].

Relations have several key advantages over spreadsheets. Writing SQL code in a computational notebook like Jupyter naturally produces a data lineage. Someone who opens the notebook can see the input files for the notebook and how the data were changed. Spreadsheets do not make a data lineage visible; if a person manually edits data values in a cell, it is difficult for future users to see which values were manually edited or how they were edited. Relations can also handle larger datasets than spreadsheets; users can use SQL systems to work with huge datasets that would be very hard to load into a spreadsheet.

### 1.13.3 Relations and Matrices
A matrix is a two-dimensional array of data used primarily for linear algebra operations. In the example below, \( \mathbf{X} \) is a matrix with three rows and two columns.

\[\begin{split} \begin{aligned} \mathbf{X} = \begin{bmatrix} 1 & 0 \\ 0 & 4 \\ 0 & 0 \\ \end{bmatrix} \end{aligned} \end{split}\]
Matrices are mathematical objects defined by the operators that they allow. For instance, matrices can be added or multiplied together. Matrices also have a transpose. These operators have very useful properties which data scientists rely on for statistical modeling.

One important difference between a matrix and a relation: when treated as a mathematical object, matrices can only contain numbers. Relations, on the other hand, can also have other types of data like text. This makes relations more useful for loading and processing real-world data which may contain all kinds of data types.

### 1.13.4 Relations and Dataframes

Dataframes are one of the most common ways to represent data tables in general purpose programming languages like Python and R. Dataframes share many similarities with relations; both use rows to represent records and columns to represent features. Both have column names, and data within a column have the same type.

One key advantage of dataframes is that they don’t require rows to represent records and columns to represent features. Many times, raw data don’t come in a convenient format that can directly be put into a relation. In these scenarios, data scientists use the dataframe to load and process data since dataframes are more flexible in this regard. Often, data scientists will load raw data into a dataframe, then process the data into a format that can easily stored into a relation.

One key advantage that relations have over dataframes is that relations are used by relational database systems like PostgreSQL 1 that have highly useful features for data storage and management. Consider a data scientist at a company that runs a large social media website. The database might hold data that is far too large to read into a pandas dataframe all at once; instead, data scientists use SQL queries to subset and aggregate data since database systems are more capable of handling large datasets. Also, website users constantly make updates to their data by making posts, uploading pictures, and editing their profile. Here, database systems let data scientists reuse their existing SQL queries to update their analyses with the latest data rather than having to repeatedly download large CSV files.

For a more rigourous description of the difference between dataframes and relations, see [Petersohn et al., 2020].